/**
 * The following styles get applied both on the front of your site and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 *
 */

.wp-block-wkg-openmap{
	/** applied both on the front and in the editor */
}
.wkg-front.wp-block-wkg-openmap{
  /** applied on the front only */
}
.wkg-editor.wp-block-wkg-openmap .wkg-content{
  /** applied in the editor only */
  position: relative;
}
.wkg-editor.wp-block-wkg-openmap .markers-manager{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 600px;
  width: 100%;
  z-index: 999;
  background: #fff;
  padding: 60px 12px;
  overflow-y: scroll;
}
.wkg-editor.wp-block-wkg-openmap .show-markers-manager,
.wkg-editor.wp-block-wkg-openmap .markers-manager .close{
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 999;
  background: #ffffff;
}
.wkg-editor.wp-block-wkg-openmap .markers-manager .add-new-btn{
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 999;
  background: #ffffff;
}
.wkg-editor.wp-block-wkg-openmap .markers-manager .add-new{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #ffffff;
  z-index: 9999;
  overflow-y: scroll;
  padding: 12px;
}
.wkg-editor.wp-block-wkg-openmap .markers-manager ul,
.wkg-editor.wp-block-wkg-openmap .markers-manager ul li{
  margin: 0;
  padding: 0;
  list-style: none;
}
.wkg-editor.wp-block-wkg-openmap .markers-manager ul li{
  margin: 0 0 6px 0;
  padding: 0 0 6px 0;
  border-top: 1px solid #F7F7F7;
}
.wkg-editor.wp-block-wkg-openmap .markers-manager ul li:first-child{
  border-top: none;
}
.wkg-editor.wp-block-wkg-openmap .markers-manager .marker-item-edit {
  position: relative;
  padding: 12px 36px 12px 86px;
  min-height: 50px;
  background: #F9F9F9;
  font-size: 12px;
  line-height: 1.4;
}
.wkg-editor.wp-block-wkg-openmap .markers-manager .marker-item-edit .btn-remove {
  position: absolute;
  top: 6px;
  right: 0;
}
.wkg-editor.wp-block-wkg-openmap .markers-manager .marker-item-edit .markerText .ctrl{
  position: absolute;
  top: 6px;
  left: 0;
}
.wkg-editor.wp-block-wkg-openmap .markers-manager .marker-item-edit .editForm .formTitle {
  margin-bottom: 12px;
}
.wkg-editor.wp-block-wkg-openmap .markers-manager .marker-item-edit .editForm .fields-group{
  display: flex;
  justify-content: space-between;
}
.wkg-editor.wp-block-wkg-openmap .markers-manager .marker-item-edit .editForm .fields-group > *{
  width: 49%;
}
.wkg-editor.wp-block-wkg-openmap .markers-manager .marker-item-edit .editForm .ctrl{
  display: flex;
  justify-content: space-between;
}
